<%= render "shared/header" %>
<div class='main'>

 <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      <span class="gradation">世界を自分色に彩ろう！</span>
    </h2>
  </div>
  <div class="header-sentence">
    <h2 class='service-subtitle'>
      <span class="gradation">~人生の旅記録アプリ~</span>
    </h2>
    <p class='service-explain'>
      <span class="gradation">IRODORIはあなたの旅のパートナー、旅行計画・記録アプリです</span>
    </p>
  </div >
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      IRODORIの簡単３STEP♪
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "furima-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          しおりを作成して旅行の準備！
        </h3>
        <p class='reason-list-description'>
          しおり形式で作成するため予定が時系列で管理できます。画像も貼ってさらに見やすく◎
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          作成したしおりを現地で活用！
        </h3>
        <p class='reason-list-description'>
          しおりには地図やメモも残しておけるので、旅行中はIRODORI一つで困ること無し◎
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          作成したしおりはそのまま旅のアルバムに！
        </h3>
        <p class='reason-list-description'>
          しおりには旅先での思い出の写真やエピソードを保存できます。思い出を振り返るのも、次の旅の参考にするのも◎
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      さあ、自分色の旅を始めよう！
    </h2>
    <div class="index-btns">
    <% if user_signed_in? %>
      <div class="index-btn">
        <%= link_to "---MyPage---", "/users/#{current_user.id}", class: "glowflash" %>
      </div>
    <% else %>
      <div class="index-btn">
        <%= link_to '---SignUp---', new_user_registration_path, class: "glowflash" %>
      </div>
      <div class="index-btn">
        <%= link_to '---LogIn---', new_user_session_path, class: "glowflash" %>
      </div>
    <% end %>
    </div>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>



</div>
<%= render "shared/footer" %>