<% @achvement = 0 %>
<% n = 1 %>
<% @achevements.each do |achevement| %>
  <% if n == 1 %> 
    <% @achevement1 = achevement %>
  <% elsif n == 2 %>
    <% @achevement2 = achevement %>
  <% elsif n == 3 %>
    <% @achevement3 = achevement %>
  <% else %>
    <% @achevement4 = achevement %>
  <% end %>
<% n += 1 %>
<% end %>

<%= render "shared/header2" %>
<main>
  <div class="nav"></div>
  <div class="profeel">
  <%= link_to "/users/#{current_user.id}/achevements/new" do %>
    <div class="icon"><%= image_tag "icon.png", class:"icon-img" %></div>
  <% end %>
    <div class="achievements">
      <div class="acheve-title">
      目標達成率<%= link_to("<目標を追加する>", "/users/#{current_user.id}/achevements/new", {class: "add-schedule"}) %>
      </div>
      <div class="achevement">
        <% if @achevement1.present? %>
        <%= "目標１：達成率（#{@achevement1.goal}）：#{sprintf( "%.1f", @achevement1.fraction_top/@achevement1.fraction_bottom.to_f*100 )}％" %>
        <%= link_to("<編集>", "/users/#{current_user.id}/achevements/#{@achevement1.id}/edit", {class: "schedule-edit"}) %>
        <%= link_to "<削除>", "/users/#{current_user.id}/achevements/#{@achevement1.id}", method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
      </div>
      <div class="achevement">
        <% if @achevement2.present? %>
        <%= "目標２：達成率（#{@achevement2.goal}）：#{sprintf( "%.1f", @achevement2.fraction_top/@achevement2.fraction_bottom.to_f*100 )}％" %>
                <%= link_to("<編集>", "/users/#{current_user.id}/achevements/#{@achevement2.id}/edit", {class: "schedule-edit"}) %>
        <%= link_to "<削除>", "/users/#{current_user.id}/achevements/#{@achevement2.id}", method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
      </div>
      <div class="achevement">
        <% if @achevement3.present? %>
        <%= "目標３：達成率（#{@achevement3.goal}）：#{sprintf( "%.1f", @achevement3.fraction_top/@achevement3.fraction_bottom.to_f*100 )}％" %>
                <%= link_to("<編集>", "/users/#{current_user.id}/achevements/#{@achevement3.id}/edit", {class: "schedule-edit"}) %>
        <%= link_to "<削除>", "/users/#{current_user.id}/achevements/#{@achevement3.id}", method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <% if @achevement1.present? %>
        <div class="may-map-title"><h1><%= @achevement1.goal %></h1></div>
        <%= image_tag @achevement1.image, class:"my-map" %>
        <% else %>
        <div class="may-map-title"><h1>目標１：登録がありません</h1></div>
          <%= image_tag "my-map1-ex.png", class:"my-map" %>
        <% end %>
      </div>
      <div class="carousel-item">
        <% if @achevement2.present? %>
        <div class="may-map-title"><h1><%= @achevement2.goal %></h1></div>
          <%= image_tag @achevement2.image, class:"my-map" %>
        <% else %>
        <div class="may-map-title"><h1>目標２：登録がありません</h1></div>
          <%= image_tag "my-map2-ex.png", class:"my-map" %>
        <% end %>
      </div>
      <div class="carousel-item">
        <% if @achevement3.present? %>
        <div class="may-map-title"><h1><%= @achevement3.goal %></h1></div>
          <%= image_tag @achevement3.image, class:"my-map" %>
        <% else %>
        <div class="may-map-title"><h1>目標３：登録がありません</h1></div>
          <%= image_tag "my-map3-ex.png", class:"my-map" %>
        <% end %>
      </div>
    </div>
    <div class="map-btn"> 
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    </div>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</main>

<%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>しおり一覧</h2>
    <div class="subtitle" >
      ＜検索＞
    </div>
    <ul class='item-lists'>
      <% if @siori.present? %>
        <% @user.sioris.each do |siori| %>
          <li class='list'>
            <%= link_to "/sioris/#{siori.id}" do %>
            <div class='item-img-content'>
              <%= image_tag siori.image, class: "item-img" %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= siori.title %>
              </h3>
              <div class='item-price'>
                <span><%= "#{siori.start_day}〜#{siori.day}日間" %>
                <br>参加者：<% siori.users.each do |user| %>
                <%= "#{user.nickname}/" %>
                <% end %>
              </div>
            </div>
          </li>
          <% end %>
        <% end %>
      <% else %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              しおりを作成してね！
            </h3>
            <div class='item-price'>
              <span>日付<br>メンバー</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>

<%= link_to( new_siori_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>作成する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

<%= render "shared/footer" %>