<%= render "shared/header2" %>
<main>
  <div class="nav"></div>
  <div class="profeel">
    <div class="icon"><%= image_tag "icon.png", class:"icon-img" %></div>
    <div class="achievements">
      <div class="acheve-title">目標達成率</div>
      <% @achevements.each do |achevement| %>
      <div class="achevement"><%= "達成率（#{achevement.goal}）:○％" %></div>
      <% end %>
    </div>
  </div>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="may-map-title"><h1>World</h1></div>
        <%= image_tag "my-map1.png", class:"my-map" %>
      </div>
      <div class="carousel-item">
        <div class="may-map-title"><h1>Japan</h1></div>
        <%= image_tag "my-map2.png", class:"my-map" %>
      </div>
      <div class="carousel-item">
      <div class="may-map-title"><h1>Europe</h1></div>
        <%= image_tag "my-map3.png", class:"my-map" %>
      </div>
    </div>
    <div class="map-btn"> 
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    </div>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</main>

<%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>しおり一覧</h2>
    <div class="subtitle" >
      ＜検索＞
    </div>
    <ul class='item-lists'>
      <% if @siori.present? %>
        <% @user.sioris.each do |siori| %>
          <li class='list'>
            <%= link_to "/sioris/#{siori.id}" do %>
            <div class='item-img-content'>
              <%= image_tag siori.image, class: "item-img" %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= siori.title %>
              </h3>
              <div class='item-price'>
                <span><%= "#{siori.start_day}〜#{siori.day}日間" %>
                <br>参加者：<% siori.users.each do |user| %>
                <%= "#{user.nickname}/" %>
                <% end %>
              </div>
            </div>
          </li>
          <% end %>
        <% end %>
      <% else %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              しおりを作成してね！
            </h3>
            <div class='item-price'>
              <span>日付<br>メンバー</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>

<%= link_to( new_siori_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>作成する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

<%= render "shared/footer" %>