<%= render "shared/header2" %>
<div class='item-contents'>
  <h2 class='title'>写真一覧</h2>
  <div class="subtitle" >
  <% if @schedule != "0" %>
    <%= link_to("<写真を追加する>", "/sioris/#{@siori}/schedules/#{@schedule}/albums/new", {class: "schedule-edit"}) %>
  <% end %>
  </div>
  <div class='album-contents'>
  <% if @photos.present? %>
    <% @photos.each do |photo| %>
      <div class="album-content">
        <div><%= image_tag photo.image, class: "item-img" %></div>
        <div class="album-item-comment"><%= simple_format(photo.comment) %></div>
        <div><%= link_to("<編集する>", "/sioris/#{@siori}/schedules/#{@schedule}/albums/#{photo.id}/edit", {class: "schedule-edit"}) %><%= link_to "<削除する>", "/sioris/#{@siori}/schedules/#{@schedule}/albums/#{photo.id}", method: :delete, data: { confirm: '本当に削除しますか？' } %></div>
      </div>
    <% end %>
  <% elsif @siori_photos.present? && @schedule == "0" %>
    <% @siori_photos.each do |photo| %>
       <div class ="album-schedule-title"><%= "#{photo.schedule.title}" %></div>
       <div class="album-content">
        <div><%= image_tag photo.image, class: "item-img" %></div>
        <div class="album-item-comment"><%= simple_format(photo.comment) %></div>
        <div><%= link_to("<編集する>", "/sioris/#{@siori}/schedules/#{photo.schedule_id}/albums/#{photo.id}/edit", {class: "schedule-edit"}) %><%= link_to "<削除する>", "/sioris/#{@siori}/schedules/#{@schedule}/albums/#{photo.id}", method: :delete, data: { confirm: '本当に削除しますか？' } %></div>
      </div>
    <% end %>
  <% else %>
  <div class="album-no-content">
    このアルバムにはまだ写真がありません
  </div>
  <% end %>
  </div>
</div>
<%= render "shared/footer" %>