<%= render "shared/header" %>
<div class='main'>

 <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      <span class="gradation">世界を自分色に彩ろう！</span>
    </h2>
    <h2 class='service-subtitle'>
      <span class="gradation">~人生の旅記録アプリ~</span>
    </h2>
    <p class='service-explain'>
      <span class="gradation">IRODORIはあなたの旅のパートナー、旅行計画・記録アプリです</span>
    </p>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      IRODORIの簡単３STEP♪
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "furima-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          しおりを作成して旅行の準備！
        </h3>
        <p class='reason-list-description'>
          しおり形式で作成するため予定が時系列で管理できます。画像も貼ってさらに見やすく◎
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          作成したしおりを現地で活用！
        </h3>
        <p class='reason-list-description'>
          しおりには地図やメモも残しておけるので、旅行中はIRODORI一つで困ること無し◎
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          作成したしおりはそのまま旅のアルバムに！
        </h3>
        <p class='reason-list-description'>
          しおりには旅先での思い出の写真やエピソードを保存できます。思い出を振り返るのも、次の旅の参考にするのも◎
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      さあ、自分色の旅を始めよう！
    </h2>
    <p class='ad-explain'>
      新規登録
    </p>
    <p class='ad-explain'>
      出品・購入回数も業界最多です！
    </p>
    <p class='ad-explain'>
      ほしかったあの商品に出会えるかもしれません。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>


  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>みんなのしおり</h2>
    <div class="subtitle" >
      新着情報
    </div>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "hawaii.png", class: "item-img" %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "しおり名" %>
          </h3>
          <div class='item-price'>
            <span><%= "旅行地域" %><br><%= '人数' %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= render "shared/footer" %>