<div class='chat-room-form'>
  <h1>新規しおり作成</h1>
  <%= form_with model: @siori, local: true do |f| %>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :image, :Top画像, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.file_field :image %>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :title, :タイトル, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :title, class: 'chat__room_name chat-room-form__input', placeholder: 'しおりのタイトルを入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :start_day, :開始日, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :start_day, class: 'chat__room_name chat-room-form__input', placeholder: '開始する日付を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :day, :日数, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :day, class: 'chat__room_name chat-room-form__input', placeholder: '日数を選択してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>メンバー1</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="siori[user_ids][]">
          <option value="">旅に参加するユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.nickname %></option>
          <% end %>
        </select>
        <input name="siori[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>メンバー2</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="siori[user_ids][]">
          <option value="">旅に参加するユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.nickname %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>メンバー3</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="siori[user_ids][]">
          <option value="">旅に参加するユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.nickname %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
