<div class="wrapper">
  <div class="side-bar">

    <div class="side-bar-header">
      <div class="siori-title">
        <%= @siori.title %>
      </div>
      <div>
        <%= "期間：#{@siori.start_day}〜【#{@siori.day}日間】" %>
        参加者：
        <% @users.each do |user| %>
        <%= "#{user.nickname}/" %>
        <% end %>
      </div>
    </div>

    <% n=1 %>
    <% @siori.day.to_i.times do %>
    <div class="schedule">
      <div class="day-schedule">
        <div class="schedule-day">
        <%= "Day#{n}" %><%= link_to("<予定を追加する>", "/sioris/#{@siori.id}/schedules/new", {class: "add-schedule"}) %>
        </div>
        <% @schedule.each do |schedule| %>
        <% if schedule.day == "#{n}" then %>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

             <div class="schedule-bar">
              <div class="schedule-time">
                <%= "#{schedule.time}" %>
              </div>
              <div>
                <%= link_to image_tag("icon_album.png"), "/sioris/#{@siori.id}/schedules/#{schedule.id}/albums" %>
                <%= link_to("<編集>", "/sioris/#{@siori.id}/schedules/#{schedule.id}/edit", {class: "schedule-edit"}) %>
                <%= link_to "<削除>", "/sioris/#{@siori.id}/schedules/#{schedule.id}", method: :delete, data: { confirm: '本当に削除しますか？' } %>
              </div>
            </div>

            <div class="col-auto d-none d-lg-block">
              <div class="schedule-img">
                <%= image_tag schedule.image, size: '150x150'%>
              </div>
            </div>

            <div class="col p-4 d-flex flex-column position-static">
              
              <h3 class="mb-0"><%= "#{schedule.title}" %></h3>
              <div class="mb-1 text-muted"><%= "場所：#{schedule.place}" %><%= "＜#{schedule.map_link}＞" %></div>
              <div class="schedule-memo">
                <%= "#{schedule.memo}" %>
              </div>
            </div>

            

          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <% n += 1%>
    <% end %>

  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
</div>